{% extends 'boards/base.html' %}




{% block topbar %}
  <a href= "{% url 'boards:boards' %}">Home</a> > {{ board.name }} 
{% endblock %}

{% block content %}
  <h1>Boards</h1>

  <table border= "1">
    <thead>
      <tr>
        <th>Topic</th><th></th><th></th>
      </tr>
    </thead>

    <tbody>
    {% for topic in board.topics.all %}
      <tr>
        <td>
          <a href= "{% url 'boards:topic_posts' board.pk topic.id %}">{{ topic.subject }}</a>
        </td>
        <td></td>
        <td></td>
      </tr>
    {% empty %}
      <p>No topics yet.</p>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}